  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- GLOBAL --}}
    <link rel="stylesheet" href="../assets/styles/reset.css">
    <link rel="stylesheet" href="../assets/styles/global.css">
    {{!-- COMPONENTS --}}
    <link rel="stylesheet" href="../components/header.css">
    <link rel="stylesheet" href="../components/hero.css">
    <link rel="stylesheet" href="../components/speaker.css">
    <title>Glenmede Test App</title>
  </head>