<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- GLOBAL --}}
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/global.css">
    {{!-- COMPONENTS --}}
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/hero.css">
    <link rel="stylesheet" href="../styles/speaker.css">
    <title>Glenmede Test App</title>
  </head>
<body>
  {{> @partial-block}}
  {{!-- GLOBAL --}}
  <script src="../scripts/speaker.js" type="module"></script>
</body>
</html>