<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- GLOBAL --}}
    <link rel="stylesheet" href="src/styles/reset.css">
    <link rel="stylesheet" href="src/styles/global.css">
    {{!-- COMPONENTS --}}
    <link rel="stylesheet" href="src/styles/header.css">
    <link rel="stylesheet" href="src/styles/hero.css">
    <link rel="stylesheet" href="src/styles/speaker.css">
    <title>Glenmede Test App</title>
  </head>
<body>
  {{> @partial-block}}
  {{!-- GLOBAL --}}
  <script src="src/scripts/speaker.js"></script>
</body>
</html>